// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
//$font-family-sans-serif: 'Bahnschrift', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.8;

$main-color-set1: #dca351ff;
